# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/My_Finance?retryWrites=true&w=majority

# JWT Secret Key
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Email Configuration (Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-specific-password

# Server Port
PORT=5000

FRONTEND_URL=https://test.mehedi-hasan.me

# Base URL for the application (used in verification/reset email links)
BASE_URL=https://test.mehedi-hasan.me
